/asp.net api demo/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/*
!.vscode/settings.json
.idea/
bin/
obj/
[Dd]ebug*/
[Rr]elease*/
*.log
[Ll]og/
[Tt]est[Rr]esult*/
Generated\ Files/
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
packages/
*.DS_Store
*.Thumbs.db
*.userprefs
mono_crash.*
*.pidb
ipch/
*.sdf
*.VC.db
*.csproj
